name: "Build"
on:
  push:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[ci skip]') == false && contains(github.event.head_commit.message, '[skip ci]') == false
    steps:
      - name: "Check out code"
        uses: actions/checkout@v2

      - name: "Build"
        uses: actions-rs/cargo@v1.0.3
        with:
          command: build
          args: --verbose